@use '../../../../assets/styles/variables';
@use '../../../../assets/styles/mixins';

.person-form {
  width: 100%;
  display: flex;
  padding: 30px 15px;
  gap: 15px;
  position: relative;
  border-bottom: 1px solid variables.$grey;

  input:not(input[type='file']) {
    flex: 4;
  }

  input[type='file'] {
    display: none;
  }

  .income-label {
    flex: 4;
    display: flex;
    position: relative;

    span {
      position: absolute;
      right: 0;
      display: flex;
      height: 100%;
      align-items: center;
      border-left: 1px solid variables.$grey;
      color: variables.$grey-dark;
      padding: 10px;
    }
  }

  .file-label {
    flex: 3;
    @include mixins.button(variables.$orange, variables.$white, variables.$orange, 0);
    justify-content: center;
  }

  span {

  }

  @include mixins.responsive(variables.$medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include mixins.responsive(variables.$extra-small) {
    grid-template-columns: repeat(1, 1fr);

    .file-label {
      padding: 10px;
    }
  }
}
