@use '../../../../assets/styles/mixins';
@use '../../../../assets/styles/variables';

.filter-container {
  padding: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  &__left {
    display: flex;
    gap: 15px;
    flex-basis: 42%;

    .weather-wrapper {
      flex: 2;
    }

    label {
      position: relative;
      flex: 3;

      input {
        width: 100%;
      }

      img {
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

  }

  &__right {
    flex-basis: 25%;
    select {
      padding: 11px;
      width: 100%;
    }
  }

  @include mixins.responsive(variables.$large) {
    &__left {

      .weather-wrapper {
        flex: 2;
      }
    }
  }


  @include mixins.responsive(variables.$medium) {
    &__left {
      flex-basis: 60%;

      .weather-wrapper {
        flex: 2;
      }
    }
    &__right {
      flex-basis: 32.5%;
    }
  }

  @include mixins.responsive(variables.$small) {
    flex-direction: column;
    gap: 15px;

    &__right {
      display: flex;
      justify-content: center;
      select {
        width: 50%;
      }
    }
  }

  @include mixins.responsive(variables.$extra-small) {
    flex-direction: column;
    gap: 15px;
    &__right {
      justify-content: flex-start;
      select {
        width: 100%;
      }
    }
  }
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 342px);
    gap: 15px;

    @include mixins.responsive(variables.$large) {
      grid-template-columns: repeat(2, 342px);
    }

    @include mixins.responsive(variables.$small) {
      grid-template-columns: repeat(1, 342px);
    }

    @include mixins.responsive(variables.$extra-small) {
      grid-template-columns: repeat(1, 274px);
    }
  }
}
