
@mixin button($color, $background-color, $border-color, $padding) {
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  gap: 10px;
  color: $color;
  background-color: $background-color;
  border: 1px solid $border-color;
  padding: $padding;

  img {
    transition: 0.2s;
  }

  &:hover {
    color: $background-color;
    background-color: $color;

    &>img {
      filter: brightness(0) invert(1);
    }
  }
}

@mixin responsive($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}
