<section class="person-details">
  <div class="person-details__back">
    <span
      [routerLink]="['/home']"
    >
      <img src="assets/icons/back.svg" alt="">
      Back
    </span>
  </div>
  <div class="person-details__card">
    <div>
      <div class="image-wrapper">
        <img
          [ngClass]="{'uploaded-image': person?.imageSource}"
          [src]="person?.imageSource || 'assets/icons/person_default.png'" alt="">
      </div>
      <h1>{{person?.firstName | titlecase}} {{person?.lastName | titlecase}}</h1>
    </div>
    <div>
      <p>SCORE</p>
      <span>{{person?.score}}</span>
    </div>
    <div>
      <p>INCOME</p>
      <span>{{person?.income | number}} EUR</span>
    </div>
  </div>
</section>
